<section id="wrapper">
    <div class="login-register" style="background-image:url(./../../../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" [formGroup]="formResetPassword" (submit)="resetPassword()" >
                    <h3 class="box-title m-b-20">Crea nueva contraseña</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="password1" required placeholder="Escribe nueva contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="password1" required placeholder="Confirmar contraseña">
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                type="submit">Aceptar</button>
                        </div>
                        <a routerLink="../login" id="to-recover" class="text-dark pull-right"><i class="fa fa-user m-r-5"></i> Iniciar Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>