<section id="wrapper">
    <div class="login-register" style="background-image:url(./../../../assets/images/background/background-login-moto.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" [formGroup]="formForgot"
                    (submit)="forgotPassword()">
                    <h3 class="box-title m-b-20 text-center">Recuperar Contraseña</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="name" required
                                placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" formControlName="email" required
                                placeholder="Correo">
                        </div>
                    </div>
                    <div class="form-group text-center p-b-10">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                type="submit">Recuperar</button>
                        </div>
                        <a routerLink="../login" id="to-recover" class="text-dark pull-right"><i
                                class="fa fa-user m-r-5"></i> Iniciar Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>