<app-breadcrumbs title="registrar producto" />
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="registerProductForm" (submit)="registerProduct()" class="form-horizontal form-material">
                <div class="form-body">
                    <h3 class="card-title">Ingrese los datos solicitados</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Nombre de producto</label>
                                <input type="text" id="name" class="form-control" formControlName="name"
                                    placeholder="Producto" autocomplete="off">
                                @if(isValidField('name')) {
                                <small class="form-control-feedback"> Este campo es requerido. </small>
                                }
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Categoria</label>
                                <select class="form-control custom-select" formControlName="category"
                                    data-placeholder="Seleccione la Categoria" tabindex="1">
                                    <option value="">Seleccione una categoria</option>
                                    @for(category of categories(); track $index){
                                    <option [value]="category.id">{{category.name}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <!--/row-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group m-b-0 has-danger">
                                <label class="control-label">Cantidad</label>
                                <div class="input-group bootstrap-touchspin">
                                    <span class="input-group-btn">
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix">UD.</span>
                                    <input id="tch2" type="number" value="0" name="tch2" class="form-control"
                                        data-bts-button-down-class="btn btn-secondary btn-outline"
                                        data-bts-button-up-class="btn btn-secondary btn-outline" style="display: block;"
                                        formControlName="stock" autocomplete="off">
                                    <span class="input-group-addon bootstrap-touchspin-postfix"
                                        style="display: none;"></span>
                                    <span class="input-group-btn">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <label class="control-label">Fecha de entrada</label>
                                <input type="date" class="form-control" formControlName="entryDate"
                                    placeholder="Fecha de entrada" autocomplete="off">
                            </div>
                        </div>

                    </div>

                    <!--/row-->
                    <div class="row">
                        <div class="col-md-4 m-t-10">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                                <textarea class="form-control" formControlName="description" rows="5"
                                    autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!-- Agregar un margen superior -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                    <button type="button" class="btn btn-inverse" (click)="cancel()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>